
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .gallery1 {
        padding: 12px;
        width: {{ obj_tpl.item_width }}px;
    }
</style>

<h5>Gallery example - 25 items </h5>

(v11) Total items: {{ obj_tpl.total_items }}, Total pages: {{ obj_tpl.total_pages }}
<br>

<form method="get">
    Image width: <input type="text" size="4" value="{{ obj_tpl.item_width }}" name="item_width">
    Items Per Page: <input size="4" name="items_per_page" value="{{ obj_tpl.items_per_page }}" />
    Page: <input size="4" name="page" value="{{ obj_tpl.page }}" />
    <input type="submit" value="set"></input>
</form>
<br>
<a href="/gallery?item_width={{ obj_tpl.item_width }}&page={{ obj_tpl.prev_page }}&items_per_page={{ obj_tpl.items_per_page }}">Prev Page</a>
<a href="/gallery?item_width={{ obj_tpl.item_width }}&page={{ obj_tpl.next_page }}&items_per_page={{ obj_tpl.items_per_page }}">Next Page</a>

<br>
{{ obj_tpl.html_pager | safe }}
<br>

{% for each in obj_tpl.list_items %}

    <a href="/item/{{ each['id'] }}">
        <img class="gallery1" src="{{ obj_tpl.base_url_resizer | safe }}/width/{{ obj_tpl.item_width }}/{{ each['filename_store'] | safe }}" />
    </a>

{% endfor %}
    